<!DOCTYPE HTML>

<html><head><title></title><meta charset="utf-8"><meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"><meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="assets/css/main.css"></head><body>

	<!-- Header -->
		<header id="header" class="alt"><div class="logo"><a href="index.html">دانشگاه جامع امام حسین(ع)<span></span></a></div>
			<div class="logo1"><a href="profile.html"><img src="images\profile1.png"><span></span></a></div>
			<a href="#menu" dir="rtl" > فهرست   </a>
		</header><!-- Nav --><nav id="menu" dir="rtl"><ul class="links"><li><a href="index.html">صفحه اصلی</a></li>
				<li><a href="generic.html">لیست سرویس‌ها</a></li>
				<li><a href="elements.html">ارتباط با ما</a></li>
				</ul></nav><!-- One --><section id="One" class="wrapper style3"><div class="inner">
					<header class="align-center"><p>برای دسترسی به سرویس ها وارد شوید</p>
						<h2>ورود</h2>
					</header></div>
			</section><!-- Two --><section id="two" class="wrapper style2"><div class="inner">
					<div class="box",dir="rtl" style="text-align: left;">
					
						<div class="box" dir="rtl" style="text-align: right;">
							<form method="post" action="#">
							  <div class="row uniform 50%">
								
								<div class="6u 12u$(xsmall)">
								  <input type="email" name="email" id="email" placeholder="رمز عبور" required />
								</div>
								
								<div class="6u 12u$(xsmall)">
								  <input type="password" name="confirm_password" id="confirm_password" placeholder="نام کاربری" required />
								</div>
								<div class="12u$">
								  <ul class="actions">
									<li><input type="submit" value="ورود"class="special" /></li>
									<li><input type="reset" value="پاک‌ کردن" /></li>
								  </ul>
								</div>
							  </div>
							</form>
						  </div>
					
                          
<!-- Footer --><footer id="footer"><div class="container">
    <ul class="icons"><li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul></div>
</footer><div class="copyright">
Made with <a href="https://templated.co/">Templated</a> Distributed by <a href="https://themewagon.com/">ThemeWagon</a>.
</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script><script src="assets/js/jquery.scrollex.min.js"></script><script src="assets/js/skel.min.js"></script><script src="assets/js/util.js"></script><script src="assets/js/main.js"></script></body></html>
