<!DOCTYPE HTML>
<html>

<head>
    <title>سرویس های هوش مصنوعی</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Favicon -->
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>

    <!-- Header -->
    <header id="header" class="alt">
		
        <div class="logo"><span></span></a></div>
        <div class="logo1"><a href="profile.html"><img src="images/profile1.png"><span></span></a></div>
        <a href="#menu" dir="rtl"> فهرست</a>
    </header>

    <!-- Nav -->
    <nav id="menu" dir="rtl">
        <ul class="links">
            <li><a href="index.html">صفحه اصلی</a></li>
            <li><a href="generic.html">لیست سرویس‌ها</a></li>
            <li><a href="elements.html">ارتباط با ما</a></li>
        </ul>
    </nav>

    <!-- Banner -->
    <section class="banner full">
        <article>
            <img src="images/img12.png" alt="" width="1440" height="961">
            <div class="inner">
                <header>
                    <p><a href="https://templated.co "></a></p>
                    <h2>سرویس های پیشرفته هوش مصنوعی</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="images/poster.jpg" alt="" width="1440" height="961">
            <div class="inner">
                <header>
                    <p></p>
                    <h2></h2>
                </header>
            </div>
        </article>
        <article>
            <img src="images/poster2.jpg" alt="" width="1440" height="961">
            <div class="inner">
                <header>
                    <p></p>
                    <h2></h2>
                </header>
            </div>
        </article>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="grid-style">

                <div dir="rtl">
                    <div class="box">
                        <div class="image fit">
                            <img src="images\translate.png" alt="" width="600" height="300">
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p></p>
                                <h2>مترجم متنی و صوتی</h2>
                            </header>
                            <p>سرویس ترجمه هوش مصنوعی، به کمک فناوری پیشرفته یادگیری ماشین، امکان ترجمه سریع و دقیق متن و صوت بین زبان‌های مختلف را فراهم می‌کند. این سرویس‌ها در حوزه‌هایی مانند آموزش، کسب‌وکار و ارتباطات بین‌المللی کاربرد گسترده‌ای دارند.</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">ادامه مطلب</a>
                            </footer>
                        </div>
                    </div>
                </div>

                <div dir="rtl">
                    <div class="box">
                        <div class="image fit">
                            <img src="images\deepfake.jpeg" alt="" width="600" height="300">
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p></p>
                                <h2>جعل عمیق</h2>
                            </header>
                            <p>جعل عمیق به فناوری‌ای گفته می‌شود که با استفاده از هوش مصنوعی، به‌ویژه شبکه‌های عصبی عمیق، تصویر، صدا یا ویدئو افراد را به‌گونه‌ای جعلی ولی بسیار واقعی تولید یا تغییر می‌دهد. این فناوری با استفاده از تکنیک‌هایی مثل یادگیری عمیق و شبکه‌های مولد تخاصمی ساخته می‌شود.</p>
                            <footer class="align-center">
                                <a href="service/deepfake.html" class="button alt">ادامه مطلب</a>
                            </footer>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="images\translate.png" alt="" width="600" height="300">
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p></p>
                                <h2>سرویس شماره3</h2>
                            </header>
                            <p>متن آزمایشی</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">ادامه مطلب</a>
                            </footer>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="images\translate.png" alt="" width="600" height="300">
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p></p>
                                <h2>سرویس شماره4</h2>
                            </header>
                            <p>متن آزمایشی</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">ادامه مطلب</a>
                            </footer>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style2">
        <div class="inner">
            <header class="align-center">
                <p class="special">دسترسی به سرویس های پیشزفته هوش مصنوعی</p>
                <h2>تصاویر محیط سرویس ها</h2>
            </header>
            <div class="gallery">
                <div>
                    <div class="image fit">
                        <a href="#"><img src="images/pic01.jpg" alt="" width="600" height="300"></a>
                    </div>
                </div>
                <div>
                    <div class="image fit">
                        <a href="#"><img src="images/pic02.jpg" alt="" width="600" height="300"></a>
                    </div>
                </div>
                <div>
                    <div class="image fit">
                        <a href="#"><img src="images/pic03.jpg" alt="" width="600" height="300"></a>
                    </div>
                </div>
                <div>
                    <div class="image fit">
                        <a href="#"><img src="images/pic04.jpg" alt="" width="600" height="300"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>